:root{
    --darkGreen : #1d674a;
    --darkGreenTwo : #006640;
    --black : #000;
    --white : #fff;
    --cyan : #0bcbfb;
    --lightGreen : #8ffca0;
}
/* uni styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
}
/* main-header styles */
.main-header{
    padding: 30px 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    width: 100%;
    /* background: gray; */
}
/* logo styles */
.logo-container{
    display: flex;
    align-items: center;
}
.logo{
    width: 32px;
}
.company-name{
    color: var(--darkGreen);
    font-weight: 600;
}
/* navbar container styles */
.navbar-container{
    display: flex;
    align-items: center;
}
.navbar-container > li{
    padding: 0px 15px;
    color: var(--darkGreen);
    font-weight: 600;
}
.navbar-container > li:hover{
    cursor: pointer;
}
.child2{
    margin-left: 25px;
}
.home{
    color: var(--white) !important;
    background: var(--darkGreenTwo);
    padding: 5px 10px !important;
    border-radius: 20px;
}
.home:hover{
    cursor: pointer;
}
/* search button */
.search-button{
    background: none;
    border: none;
}
.search-button:hover{
    cursor: pointer;
}
/* search img */
.search-icon{
    width: 24px;
}
/* ****************** */
/* hero section area */
/* .hero-section{
    padding: 30px 165px;
    background-image: url(../../assets/img/background_img/mainBackground.jpg);
} */
